<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaandaar Events - Redefining Class</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'front.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/ourwork/">Our Work</a></li>
        </ul>
    </div>
    <div class="header">
        
    </div>




    <div class="content">
        <h1>Best Wedding Planner in Chandigarh</h1>
        <p>Putting all the beautiful pieces together and crafting one-of-a-kind experiences.</p>
        <button>Contact us</button>
    </div>