<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vicky events</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'front.css' %}">
</head>
<body>
   {% include 'header.html' %}
    <div class="header">
        <img src="https://images.unsplash.com/photo-1629890718918-d759b2d1463b?q=80&w=2059&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Wedding"style="filter: brightness(0.6);">
        <div class="overcontact">
            <div class="logo">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reach Out To Us <br>&nbsp;&nbsp;&nbsp;We would love to hear from you! <br>Contact us directly by filling this form
       </div>

       <form method="post" action="#" >
        {% csrf_token %}
 

 <br>
 <br>
 <br>
 {% if messages %}
 <ul class="main">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

     <div>
         <label for="event-name" style="display: block; margin-bottom: 5px;">Name:</label>
         <input type="text" id="event-name" name="name" placeholder="enter name" style="width: 100%; padding: 8px; margin-bottom: 10px;">
     </div>
     
     <div>
         <label for="event-date" style="display: block; margin-bottom: 5px;">Event mail:</label>
         <input type="email" id="event-date" name="email" placeholder="enter email" style="width: 100%; padding: 8px; margin-bottom: 10px;">
     </div>
     
     <div>
         <input type="submit" value="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
     </div>  
      <div>
         <br>
         <br>
         

         <table>
         <thead>
             <tr>
                 <th>Contact Information</th>
             </tr>
            
         </thead>
         <tbody>
             <tr>
                 <td>Phone: +91 8210224732 <br> +91 9507682919</td>
             </tr>
                 
             <tr>
    
             <td><b>Address</b>:Lifestye Residency sector 116 mohali</td>
             </tr>  
             <tr>
                 <td><b>Email:</b><a href="vickyrajgupta2003@gmail.com">vickyrajgupta2003@gmail.com</a>
             </tr>
             <tr>

                 <td><b>Websites</b> <a href="/front/" target="_blank" rel="noopener noreferrer">vickyevents.com</a></td>
             </tr>
             </table>
  </div>  
 </form>

     </div>
 </div>
 
       
        </div>
    </div>
   
<br>
{% include 'footer.html' %}