<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'front.css' %}">
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/ourwork/">Our Work</a></li>
            <li><a href="/auth/">Login/Signup</a></li>
            <li><a href="/event/">Book Event</a></li>

        </ul>
    </div>

    <div class="header">
        <img src="https://media.istockphoto.com/id/471906412/photo/beautiful-table-setting-for-an-wedding-reception-or-an-event.jpg?s=2048x2048&w=is&k=20&c=_eAWgEvA_hOaeJ4kQLJWR7rwFcmIm6h9_Z83B59t_fk=" alt="Wedding" style="filter: brightness(0.5);">
     


        <div class="overlay">

            <div class="logo">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Welcome to Vicky events <br>
                Let's Plan Your Fairytale Together !
            </div>

            <div class="quotes">
                <p>"Turning your vision into reality, one event at a time."</p>
                <p>"Crafting unforgettable moments that last a lifetime."</p>
                <p>"Your perfect day, our perfect planning."</p>
                <p>"We bring the magic to your special moments."</p>
                <p>"Events designed to dazzle, memories made to cherish."</p>
                <p>"Where your dreams meet our creativity."</p>
                <p>"Creating extraordinary experiences for extraordinary people."</p>
                <p>"From concept to celebration, we handle it all."</p>
                <p>"Elevate your event with elegance and style."</p>
                <p>"We plan, you party. Simple as that!"</p>
                <p>"Making every event a masterpiece."</p>
                <p>"Details matter, and we love getting them right."</p>
                <p>"Celebrating life’s milestones with you."</p>
                <p>"Transforming spaces, creating smiles."</p>
                <p>"Inspired events. Impeccable planning."</p>
                <p>"We create, you celebrate."</p>
            </div>

        </div>
    </div>



    \
    <br>
    <br>
    <h1>SERVICES WE PROVIDES</h1>
    <br>
    <br>



 <div class="services-grid">
        <div class="service-item">
            <a href="/destination/">
                <img src="https://plus.unsplash.com/premium_photo-1661964149725-fbf14eabd38c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGVzdGluYXRpb258ZW58MHx8MHx8fDA%3D"
                    alt="Destination and Venues">
            </a>
            <h2>DESTINATION</h2>

            <div class="overlay">
        </div>

       </div>

        <div class="service-item">
            <a href="/meeting/">
                <img src="https://plus.unsplash.com/premium_photo-1661778490723-371305b4fb06?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVldGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                    alt="Vendor Management">
            </a>
            <h2>MEETING</h2>
        </div>

        <div class="service-item">
            <a href="/festival/">
                <img src="https://media.istockphoto.com/id/1415056757/photo/colorful-wedding-tents-at-night.jpg?s=2048x2048&w=is&k=20&c=cPPzyEfHvnKxZuh8nlAsCoK3mhSE-qTSe6MAnT-ecv0="
                    alt="Decor Management">
            </a>
            <h2>FESTIVAL</h2>
        </div>

        <div class="service-item">
            <a href="/marriage/">
                <img src="https://media.istockphoto.com/id/1399000012/photo/guests-throwing-confetti-over-bride-and-groom-as-they-walk-past-after-their-wedding-ceremony.jpg?s=2048x2048&w=is&k=20&c=G8zuGJUuEK9HXwx1xEYPYwrcajt8r3K8nSVFeEzLHFY="
                    alt="Logistics">
            </a>
            <h2>MARRIAGE</h2>
        </div>

        <div class="service-item">
            <a href="/entertainment/">
                <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGVudGVydGFpbm1lbnR8ZW58MHx8MHx8fDA%3D"
                    alt="Entertainment">
            </a>
            <h2>ENTERTAINMENT</h2>
        </div>

        <div class="service-item">
            <a href="/decor/">
                <img src="https://media.istockphoto.com/id/1409447147/photo/creative-composition-at-living-room-interior-with-design-beige-sofa-black-coffee-table-plants.jpg?s=2048x2048&w=is&k=20&c=ZnV2CcG7lBA4ePAXgvLRjDMSjAcZKFd9nk1Z1Ury9bo="
                    alt="Decor Management">
            </a>
            <h2>Decor Management</h2>
        </div>

        <div class="service-item">
            <a href="/vendor/">
                <img src="https://media.istockphoto.com/id/1272683903/photo/handicraft-market-in-olinda-pernambuco.jpg?s=2048x2048&w=is&k=20&c=YFYJ9Ji7Rdfu7FviqB-m3JxjAwGRAebgnGla4TXKAwM="
                    alt="Vendor Management">
            </a>
            <h2>Vendor Management</h2>
        </div>

        <div class="service-item">
            <a href="/food/">
                <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Food and beverage">
            </a>
            <h2>Food and beverage</h2>
        </div>

</div>



    <div class="content">
        <h1>Best Wedding Planner in Chandigarh</h1>
        <p>Putting all the beautiful pieces together and crafting one-of-a-kind experiences.</p><br>
        <a href="/contact" class="vicky">Contact us</a>
    </div>
    <div class="foot">
        <p>&copy;2024 Vicky Event planner. All rights reserved.</p>
    </div>
</body>

</html>