<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'front.css' %}">
</head>

<body>
    <div class="navbar">
        <ul>
            <li>
                <img src="{% static 'logo.jpg' %}" width="180" height="80" alt="YouTube Logo" class="logofront" style="filter: brightness(2.3);">
            </li>
            <li><a href="/front/">Home</a></li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/ourwork/">Our Work</a></li>
            <li><a href="/auth/">Get Started / Sign In</a></li>
            <li><a href="/event/">Book Event</a></li>

        </ul>
    </div>