

{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">


<form method="post">
    {% csrf_token %}
   
    <h2>USER LOGIN</h2>
    <br>
    {% if messages %}
    <ul class="main">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
    
  <div>
  <label class="form-check-label" for="exampleCheck1"><b>Username</b></label>
  <input type="text" name="username"  class="form-control" id="exampleCheck1">
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b>Password</b></label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
  
    <div>
      <p>don't  have a account please create <a href="/register/">signup</a></p>
  
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 