<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaandaar Events - Redefining Class</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'front.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a href="/front/">Home</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          <li><a href="/ourwork/">Our Work</a></li>
          <li><a href="/auth/">Login/Signup</a></li>
          <li><a href="/event/">Book Event</a></li>
         
        </ul>
    </div>
    <div class="header">
        <img src="https://media.istockphoto.com/id/1175680526/photo/this-ceremony-is-the-meeting-of-two-souls.jpg?s=2048x2048&w=is&k=20&c=YgqDw_jLDglrehY-8rsIVNJMDswW21O_oGHWdZvkBag=" alt="Wedding" style="filter: brightness(0.6);">
        <div class="overlay">
            <div class="logo">
                <h1>OUR WORK</h1>
            </div> 
        </div>
    </div>
    <br>
    <h1 style="color: black;">"Captivating Moments"</h1>
    <p class="mehndi">
        "Embark on a visual journey through our Shaandaar Events Gallery, where we unveil a collection
        of captivating and unforgettable experiences as the best wedding planner.”</p>

    <div class="vicky-grid">   
        <div class="service-item">
            <img src="https://images.pexels.com/photos/3014860/pexels-photo-3014860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://images.pexels.com/photos/1589216/pexels-photo-1589216.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Entertainment">
 
        </div>
        <div class="service-item">
            <img src="https://images.pexels.com/photos/3787395/pexels-photo-3787395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://images.pexels.com/photos/725458/pexels-photo-725458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://images.pexels.com/photos/8565495/pexels-photo-8565495.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://images.pexels.com/photos/1640057/pexels-photo-1640057.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://images.pexels.com/photos/169193/pexels-photo-169193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://media.istockphoto.com/id/1708073145/photo/happy-sisters-lighting-diyas-at-home-during-diwali.jpg?s=2048x2048&w=is&k=20&c=7N7-kvszoXsptwKMYPd698EkrAoIj_vMiU90OcVcnuU=" alt="Entertainment">
 
        </div>

        <div class="service-item">
            <img src="https://media.istockphoto.com/id/1404344982/photo/make-a-wish-and-blow-your-birthday-candles.jpg?s=2048x2048&w=is&k=20&c=KbIq2bINGC_EDdiDGNM_NTjdI5JJia5RfW5B9Z2wKLc=" alt="Entertainment">

        </div>
      
    </div>   

   <div class="services-container">
    <br>
    <br>
        <h1>SERVICES WE PROVIDES</h1>
        <br>
        <br>

        <div class="services-grid">
            <div class="service-item">
                    <a href="/destination/">
                    <img src="https://plus.unsplash.com/premium_photo-1661964149725-fbf14eabd38c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGVzdGluYXRpb258ZW58MHx8MHx8fDA%3D" alt="Destination and Venues">
                      </a>
                    <h2>DESTINATION</h2>
                    <div class="overlay">
                    </div>
            
            </div>

            <div class="service-item">
                <a href="/meeting/">
                    <img src="https://plus.unsplash.com/premium_photo-1661778490723-371305b4fb06?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVldGluZ3xlbnwwfHwwfHx8MA%3D%3D" alt="Vendor Management">
                </a>
                <h2>MEETING</h2>
            </div>

            <div class="service-item">
                <a href="/festival/">
                    <img src="https://media.istockphoto.com/id/1415056757/photo/colorful-wedding-tents-at-night.jpg?s=2048x2048&w=is&k=20&c=cPPzyEfHvnKxZuh8nlAsCoK3mhSE-qTSe6MAnT-ecv0=" alt="Decor Management">
                </a>
                <h2>FESTIVAL</h2>
            </div>

            <div class="service-item">
                <a href="/marriage/">
                    <img src="https://media.istockphoto.com/id/1399000012/photo/guests-throwing-confetti-over-bride-and-groom-as-they-walk-past-after-their-wedding-ceremony.jpg?s=2048x2048&w=is&k=20&c=G8zuGJUuEK9HXwx1xEYPYwrcajt8r3K8nSVFeEzLHFY=" alt="Logistics">
                </a>
                <h2>MARRIAGE</h2>
            </div>

            <div class="service-item">
                <a href="/entertainment/">
                    <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGVudGVydGFpbm1lbnR8ZW58MHx8MHx8fDA%3D" alt="Entertainment">
                </a>
                <h2>ENTERTAINMENT</h2>
            </div>

            <div class="service-item">
                <a href="/decor/">
                    <img src="https://media.istockphoto.com/id/1409447147/photo/creative-composition-at-living-room-interior-with-design-beige-sofa-black-coffee-table-plants.jpg?s=2048x2048&w=is&k=20&c=ZnV2CcG7lBA4ePAXgvLRjDMSjAcZKFd9nk1Z1Ury9bo=" alt="Decor Management">
                </a>
                <h2>Decor Management</h2>
            </div>
            <div class="service-item">
                <a href="/vendor/">
                    <img src="https://media.istockphoto.com/id/1272683903/photo/handicraft-market-in-olinda-pernambuco.jpg?s=2048x2048&w=is&k=20&c=YFYJ9Ji7Rdfu7FviqB-m3JxjAwGRAebgnGla4TXKAwM=" alt="Vendor Management">
                </a>
                <h2>Vendor Management</h2>
            </div>
            <div class="service-item">
                <a href="/food/">
                    <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food and beverage">
                </a>
                <h2>Food and beverage</h2>
            </div>
        </div>
        
           
        </div>
    </div>
    <div class="content">
        <h1>Best Wedding Planner in Chandigarh</h1>
        <p>Putting all the beautiful pieces together and crafting one-of-a-kind experiences.</p>
        <a href="/contact" class="vicky">Contact us</a>
    </div>
</body>
</html>
